nav{
    display: flex;
    justify-content: space-between;

    img{
        width: 58px;
        border-radius: 50%;
        height: 9vh;
        margin-top: 1%;
    }

    

}

.main11{
    margin-left: 13%;
    margin-right: 13%;
     border-left: 1px solid #969292;
     border-right: 1px solid #969292;
    padding: 1%;
     /* background-color: ghostwhite; */
}

.nav{
        display: flex;
        align-items: center;
        gap: 40px;
         padding: 2%;
         border: 1px solid black;
         border-radius: 20px;
       
}

.nav:hover{
    scale: 100px;
}

.overlay{
    display: none;
}

.overlay.show{
    display: block;
    position: fixed;
    inset: 0;
    /* background: rgba(0,0,0,0.35); */
    backdrop-filter: blur(1.5px);
    z-index: 10000;
    transition: opacity 0.25s ease;
    opacity: 1;
}

.overlay{opacity: 0; pointer-events: none;}

.overlay.show{opacity: 1; pointer-events: auto;}


.mobile-nav{
    display: none;
}



.mobile-nav.show{
    display: flex;
     opacity: 1;
   
}

.mobile-nav{
    
     flex-direction: column;
    align-items: center;
    gap: 20px;
            border-radius: 20px;
            padding: 15px;
            position: fixed;
            box-shadow: 0 4px 20px rgba(0,0,0,0.2);
            z-index: 20002;
            margin-left: 290px;
            margin-right: 10px;
            transition: transform 0.3 ease,opacity 0.25s ease;
            opacity: 0;
}

.menu{
    display: none;
   
}

@media(max-width:600px){
      .main11{
        margin-left:3%;
    margin-right: 3%;
     border: none;
     padding-top: 4%;
     
    }
          .nav{
            display: none;
           
          }

          .menu{
            display: block;
            margin-left: 210px;
            background:rgb(197, 195, 195);
            border-radius: 10px;
            padding-top: 6px;
            padding: 5px;
            font-size: 7px;
            width: 60px;
            height: 5vh;
            margin-top: 3%;
          }
      
         
}
@media(max-width:600px){
    .menu{
        margin-left: 130px;
         margin-top: 5%;
    }
}

