.about{
   margin-left: 13%;
    margin-right: 13%;
    border-left: 1px solid #969292;
    border-right: 1px solid #969292;
    padding-top: 45px;
    padding: 1%;

     h2{
        text-align: center;
        font-size: 35px;
    }

    h4{
        padding-top: 3%;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 10%;
    }
    p{
        padding-top: 1%;
        padding-bottom: 3%;
        padding-left: 3%;
        padding-right: 3%;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         font-weight: 600;
    }
}

@media(max-width:600px){
    .about{
    margin-left:3%;
     margin-right: 3%;
     border: none;
     padding-top: 4%;
    }
}