.contacr{
      margin-left: 13%;
    margin-right: 13%;
    border-left: 1px solid #969292;
    border-right: 1px solid #969292;
    padding-top: 45px;
    padding: 1%;


      h2{
        text-align: center;
        font-size: 35px;
    }

    p{
         text-align: center;
        padding-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 400;
    }

    .con-input{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;

    label{
        font-weight: 600;
        margin-top: 4%;
    }
   

    input{
        width: 100%;
        height: 8vh;
        border-radius: 10px;
        padding: 20px;
        margin-top: 2%;
        margin-bottom: 2%;
        font-weight: bold;
    }

    textarea{
         width: 100%;
        margin-top: 2%;
         padding: 15px;
          height:22vh;
          border-radius: 10px;
    }

    button{
        width: 100%;
        height: 9vh;
        margin-top: 20px;
         border-radius: 10px;
         text-align: center;
         font-weight: bold;
         background-color: black;
         color: white;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
}





@media(max-width:600px){
    .contacr{
        margin-left:3%;
    margin-right: 3%;
     border: none;
     padding-top: 4%;

     p{
        padding-top: 10%;
        padding-left: 1%;
        padding-right: 1%;
         font-size: 19px;
     }
     
    }

   
    
}