.home{
    margin-left: 13%;
    margin-right: 13%;
     border-left: 1px solid #969292;
     border-right: 1px solid #969292;
     /* background-color: ghostwhite; */
}


.home-h1{
    text-align: center;
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
   
}

.home-p{
    text-align: center;
    padding-top: 2%;
    padding-left: 13%;
    padding-right: 13%;
     font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.home-input{
    padding-left: 10%;
    padding-right: 10%;
    gap: 30px;
    padding-top: 3%;
    

   
}

.wi{
    display: flex;
   padding-bottom: 10px;
  
     
}

.wi-h1{
     height: 9vh;
        width: 46%;
        margin-left: 20px ;
        border: #969292 1px solid;
        border-radius: 10px;
        margin-bottom: 15px;
        padding-left: 20px;
        font-family:Arial, Helvetica, sans-serif;
       font-size: 7px;
       padding-top: 14px;
       font-weight: 300;
       transition: color 0.3s ease;
        overflow: hidden;
   position: relative;
       
}

.wi-h1.slide-hover::before{
    content: "";
    position: absolute;
    inset: 0;
    background: black;
      color: white;
    z-index: -1;
    transition: transform 0.4s ease;
    transform: translateX(-100%);
}

.wi-h1.wi-h1.slide-hover:hover::before{
    transform: translateX(0%);
}

.wi-h1.slide-hover:host-context{
    color: white;
}

.wi-h1.slide-hover{
    position: relative;
    overflow: hidden;
    z-index: 1;
}



@media(max-width:600px){
    .home-h1{
        font-size: 25px;
        padding-top: 14%;
    }

    .home-p{
         padding-top: 10%;
        padding-left: 1%;
        padding-right: 1%;
         font-size: 19px;
    }

    .home-input{
        padding-top:10%;
        padding-left: 1%;
        padding-right: 1%;

       .wi-h1{
        margin-left: 10px;
        font-size: 6px;
        border-radius: 14px;
        padding-top: 19px;
        height: 8vh;
    
       }
    }

    .home{
        margin-left:3%;
    margin-right: 3%;
     border: none;
     padding-top: 4%;
     
    }

    .wi{
        padding-bottom: 2px;
    }


}