.skill{
       margin-left: 13%;
    margin-right: 13%;
    border-left: 1px solid #969292;
    border-right: 1px solid #969292;
    padding-top: 45px;
    padding: 1%;

    h2{
        text-align: center;
        font-size: 35px;
    }

}

.logg{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 28px;
}

.log-con{
    background: rgb(112, 111, 111);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.445);
    width: 25%;
    padding: 20px;
    border-radius: 10px;


    p{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 10px;
    }
}

@media(max-width:600px){
    .skill{
        margin-left:3%;
    margin-right: 3%;
     border: none;
     padding-top: 4%;
    }


    .log-con{
        width: 40%;
    }
}