.zynox{
     margin-left: 13%;
    margin-right: 13%;
    border-left: 1px solid #969292;
    border-right: 1px solid #969292;
    padding-top: 45px;
    padding: 1%;
    text-align: center;

    p{
        background-color:rgb(241, 219, 177);
        border-left: 5px solid yellow;
        padding: 10px;
        border-radius: 5px;
    }
}

@media(max-width:600px){
    .zynox{
        margin-left:3%;
    margin-right: 3%;
     border: none;
     padding-top: 7%;
    }
}